<div class="row row_header_link">
  <div class="col-xs-6 link_left">
    <a href=""> Accueil</a> > <a (click)="gotoAccueil()" style="cursor:pointer">Mon évaluation des risques </a>> Mon/mes métiers
  </div>
  <div class="col-xs-6 link_right">
   
  </div>
</div>
<div class="row row_metier_header">
  <div class="col-xs-4 header_image">
    <div>
      <img src="assets/bord.png" alt="">
    </div>
  </div>
  <div class="col-xs-4 header_text">
    <div>
      <h1>
        Évaluation des risques 
      </h1>
       <h4>
        En 3 étapes, établissez votre Document Unique
      </h4>
    </div>
    
  </div>
  <div class="col-xs-4">

  </div>
</div>
<div class="row row_metier_step_img">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6" style="text-align:center">
    <img src="assets/step1_active.png" alt=""> <img src="assets/step2_inactive.png" alt=""> <img src="assets/step3_inactive.png"
      alt="">
  </div>
  <div class="col-xs-3" >
  </div>
</div>

<div class="border">
  <div class="row">
    <div class="col-xs-12 metier_title">
      <p>Mon/mes métiers</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 step_mark">
      <img src="assets/step1_mark.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 metier_text">
      <p>Choisissez le ou les métiers correspondant <br> aux activités de votre entreprise</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 metier_search_title">
      <p>Tapez et sélectionnez le nom du métier</p>

    </div>
    <div class="col-xs-4 metier_search_box">
      <input placeholder="ex:Peintre" #searchBox id="search-box" (keyup)="search(searchBox.value)">
      <div class="search-result-border">
        <div *ngFor="let searchMetier of searchMetiers | async" (click)='addMetier(searchMetier["metier"].id); searchBox.value="";' class="search-result">
          {{searchMetier.name}}
        </div>
      </div>
    </div>
    <div class="col-xs-4 metier_search_result">
      <div class="metier_no_selected" *ngIf="currentMetiers?.length == 0">
        Aucun métier sélectionné
      </div>
      <div class="metier_selected" *ngIf="currentMetiers?.length > 0">
        Vos métiers sélectionnés <span class="arrow-down"> </span>
      </div>
      <div *ngFor="let currentMetier of currentMetiers" class="metier_selected_list">
        <img src="assets/delete_metier.png" alt="" (click)="deleteMetier(currentMetier.id)"> {{currentMetier.name}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 " style="text-align:center;">
      <button class="metier_button_inactive" disabled *ngIf="currentMetiers?.length == 0 || currentMetiers?.length >6">
             Passez à l’étape 2
      </button>
      <button class="metier_button_active" *ngIf="currentMetiers?.length > 0 && currentMetiers?.length <= 6">
             Passez à l’étape 2
      </button>
    </div>
  </div>
  <div  class="row"> 
    <div class="col-xs-12 " class="text_rappel" style="text-align:left;">
      <p>
        <span class="bold_text">Rappel:</span> Cette première évaluation vous permet d'identifier les risques principaux liés à votre évaluation des risques <a class="link_eprevention">sur eprévention</a>
      </p>
    </div>
  </div>
</div>