<div class="row footer_padding" style="text-align:right;">
  <div class="col-xs-10" style="heigt:40px;">
    <div class="row footer_links">
      <div class="col-xs-2">
       <a >Partenaires</a>
      </div>
      <div class="col-xs-1">
        I
      </div>
      <div class="col-xs-2">
         <a >Presse</a>
      </div>
      <div class="col-xs-1">
        I
      </div>
      <div class="col-xs-2">
         <a >Mentionlégales</a>
      </div>
      <div class="col-xs-1">
        I
      </div>
      <div class="col-xs-2">
        <a >Contact</a>
      </div>
      <div class="col-xs-1">
        I
      </div>

    </div>
  </div>
  <div class="col-xs-2" style="text-align:right;">
    <img src="assets/logo_bottom.png" alt="">
  </div>
</div>