<div class="row footer_padding" style="text-align:right;">
  <div class="col-xs-12">
    <div class="row footer_main_logo">
      <div class="col-xs-6 footer_logo_left">
        <a href="" style="margin-right:5px;"><img src="assets/facebook.png" alt=""></a>
        <a href="" style="margin-right:10px;"><img src="assets/twitter.png" alt=""></a>
        <a href="" style="margin-right:5px;"> <img src="assets/youtube.png" alt=""></a>
      </div>
      <div class="col-xs-2">

      </div>
      <div class="col-xs-4 footer_logo_right">
        <a href=""><img src="assets/logo_bottom_tpe.png" alt=""></a>
      </div>
    </div>


    <div class="row footer_main_title">
      <div class="col-xs-12">
        <p>PLAN DU SITE</p>
      </div>
    </div>

    <div class="row footer_main_text">
      <div class="col-xs-4">
        <span class="footer_sub_title">Actualité</span> 
        <br> >La future norme ISO 31000 est ouverte <br>aux commentaires 
        <br> >Le burn-out sur la voie de la reconnaissance <br>en maladie professinnelle
      </div>
      <div class="col-xs-4">
        <span class="footer_sub_title"> Documentation </span> 
        <br> >Les chutes de hauteur 
        <br> >Les échafaudages de service - <br>Leséchafaudages de couvreurs
        <br> >Une chute, c'est un accident de trop
      </div>
      <div class="col-xs-4">
        <span class="footer_sub_title">Formation</span> 
         <br> >Maîtriser le risque routier 
         <br> >Execer le mandat de Membre de CHSCT - <br>Entreprise de moins de 300 salariés 
         <br> >Prév'action encadrement - organiser la prévention <br>dans l'entreprise
      </div>
    </div>

    <div class="row footer_links">
      <div class="col-xs-12">
        <a>Partenaires Presse</a> <span>I</span>
        <a>Mentions légales</a><span>I</span>
        <a>Contact</a><span>I</span>
        <a>Plan du site</a><span>I</span>
        <a>Newsletter</a><span>I</span>
        <a>Flux RSS</a>
      </div>
    </div>
  </div>
</div>